MarketDataUtilService/src/main/resources/wsdl/MarketDataUtilService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://marketdataservice.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="marketserviceSimpleService"
	targetNamespace="http://marketdataservice.soacourse.unsw.edu.au">
	<wsdl:types>
		<xsd:schema targetNamespace="http://marketdataservice.soacourse.unsw.edu.au">
			<xsd:element name="summaryMarketData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="eventSetId" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="summaryMarketDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="eventSetId" nillable="false" type="xsd:string" />
						<xsd:element name="sec" nillable="false" type="xsd:string" />
						<xsd:element name="startDate" nillable="false" type="xsd:string" />
						<xsd:element name="endDate" nillable="false" type="xsd:string" />
						<xsd:element name="currencyCode" nillable="false" type="xsd:string" />
						<xsd:element name="fileSize" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="currencyConvertMarketData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="eventSetID" nillable="false" type="xsd:string" />
						<xsd:element name="targetCurrency" nillable="false" type="xsd:string" />
						<xsd:element name="targetDate" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="currencyConvertMarketDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="eventSetId" nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="downloadFile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="eventSetId" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="downloadFileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dataURL" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="serviceFaultType">
				<xsd:sequence>
					<xsd:element name="errcode" type="xsd:string" />
					<xsd:element name="errtext" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="importMarketFault" type="tns:serviceFaultType" />
			<xsd:element name="downloadFileFault" type="tns:serviceFaultType" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="summariseMarketDataRequestMsg">
		<wsdl:part name="parameters" element="tns:summaryMarketData" />
	</wsdl:message>
	<wsdl:message name="summariseMarketDataResponseMsg">
		<wsdl:part name="parameters" element="tns:summaryMarketDataResponse" />
	</wsdl:message>
	<wsdl:message name="summaryMarketFaultMsg">
		<wsdl:part name="parameters" element="tns:importMarketFault" />
	</wsdl:message>
	<wsdl:message name="convertMarketDataRequest">
		<wsdl:part name="parameters" element="tns:currencyConvertMarketData" />
	</wsdl:message>
	<wsdl:message name="convertMarketDataResponseMsg">
		<wsdl:part name="parameters" element="tns:currencyConvertMarketDataResponse" />
	</wsdl:message>
	<wsdl:message name="convertMarketDataFaultMsg">
		<wsdl:part name="parameters" element="tns:downloadFileFault" />
	</wsdl:message>
		<wsdl:message name="visualiseMarketDataRequestMsg">
		<wsdl:part name="parameters" element="tns:downloadFile" />
	</wsdl:message>
	<wsdl:message name="visualiseMarketDataResponseMsg">
		<wsdl:part name="parameters" element="tns:downloadFileResponse" />
	</wsdl:message>
	<wsdl:message name="visualiseMarketDataFaultMsg">
		<wsdl:part name="parameters" element="tns:downloadFileFault" />
	</wsdl:message>
	<wsdl:portType name="MarketDataUtilService">
		<wsdl:operation name="summariseMarketData">
			<wsdl:input message="tns:summariseMarketDataRequestMsg" />
			<wsdl:output message="tns:summariseMarketDataResponseMsg" />
			<wsdl:fault name="secfault" message="tns:summaryMarketFaultMsg"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="convertMarketData">
			<wsdl:input message="tns:convertMarketDataRequest" />
			<wsdl:output message="tns:convertMarketDataResponseMsg" />
			<wsdl:fault name="eventfault" message="tns:convertMarketDataFaultMsg"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="visualiseMarketData">
			<wsdl:input message="tns:visualiseMarketDataRequestMsg" />
			<wsdl:output message="tns:visualiseMarketDataResponseMsg" />
			<wsdl:fault name="eventfault" message="tns:visualiseMarketDataFaultMsg"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MarketDataUtilServiceSOAP" type="tns:MarketDataUtilService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="summariseMarketData">
			<soap:operation
				soapAction="http://marketdataservice.soacourse.unsw.edu.au/summariseMarketData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="secfault">
				<soap:fault name="secfault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="convertMarketData">
			<soap:operation
				soapAction="http://marketdataservice.soacourse.unsw.edu.au/convertMarketData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="eventfault">
				<soap:fault name="eventfault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="visualiseMarketData">
			<soap:operation
				soapAction="http://marketdataservice.soacourse.unsw.edu.au/visualiseMarketData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="eventfault">
				<soap:fault name="eventfault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MarketDataUtilService">
		<wsdl:port binding="tns:MarketDataUtilServiceSOAP" name="MarketDataUtilServiceSOAP">
			<soap:address location="http://localhost:8080/MarketDataUtilService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>